/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b7c8b3;
}

.container {
    text-align: center;
}

select {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
} */
body {
    font-family: Arial, sans-serif;
    background-color:rgb(69, 65, 106);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: red;
}

select {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}
